<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7AF91409-A02C-4663-8AF9-65EC8E8E9383</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
