<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>55E84AD4-3832-4BF4-BA25-697062E18963</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.onum</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
