<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>465F19EE-DC2E-414C-9358-3ADCDF5C1C1C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.onum</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
