<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BD368B8F-3E26-4DC6-AD79-0D6D20CD125E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
