<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CD5900C0-A0A5-43F8-9111-55A9C447CFC8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
