<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>710</integer>
    <key>capHeight</key>
    <integer>673</integer>
    <key>copyright</key>
    <string>Copyright 2007 The Ibarra Real Nova Project Authors (https://github.com/googlefonts/ibarrareal)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Ibarra Real Nova</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>2jOFUb7iru</string>
        <key>x</key>
        <integer>91</integer>
        <key>y</key>
        <integer>-13</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>x74snc2ku4</string>
        <key>x</key>
        <integer>-99</integer>
        <key>y</key>
        <integer>349</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>I1pdY4TmTy</string>
        <key>x</key>
        <integer>175</integer>
        <key>y</key>
        <integer>-259</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>5qf9Ghjhql</string>
        <key>x</key>
        <integer>171</integer>
        <key>y</key>
        <integer>691</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>BlXyHINKAS</string>
        <key>x</key>
        <integer>307</integer>
        <key>y</key>
        <integer>691</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ruaiDpUktr</string>
        <key>x</key>
        <integer>419</integer>
        <key>y</key>
        <integer>-8</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>UgL3Wcth2F</string>
        <key>x</key>
        <integer>72</integer>
        <key>y</key>
        <integer>-178</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>zAt3vLuD4q</string>
        <key>x</key>
        <integer>387</integer>
        <key>y</key>
        <integer>-225</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>3T1rz73PWl</string>
        <key>x</key>
        <integer>450</integer>
        <key>y</key>
        <integer>-51</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/03/18 01:44:41</string>
    <key>openTypeHheaAscender</key>
    <integer>950</integer>
    <key>openTypeHheaDescender</key>
    <integer>-300</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Jose Maria Ribagorda &amp; Octavio Pardo</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.ibarrareal.es</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Jose Maria Ribagorda</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.octaviopardo.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>950</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-300</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1100</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>400</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-11</integer>
      <integer>0</integer>
      <integer>426</integer>
      <integer>434</integer>
      <integer>673</integer>
      <integer>683</integer>
      <integer>710</integer>
      <integer>726</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-291</integer>
      <integer>-284</integer>
      <integer>-261</integer>
      <integer>-250</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>15</integer>
      <integer>25</integer>
      <integer>35</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>67</integer>
      <integer>76</integer>
      <integer>90</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Ibarra Real Nova</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>426</integer>
  </dict>
</plist>
