<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>810E214A-938D-4C58-BA4B-2B9A84D7B9B9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
