<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C5FE9A3E-6C03-413C-938E-03526F7CB2F4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
