<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0872325C-8A2F-420E-91F6-B30783C5BC6B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
