<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Regular Italic Jun 11 15, 00:03</string>
      <string>glyphs.R_egular I_talic J_un 11 15, 00_03</string>
    </array>
    <array>
      <string>Regular Italic Jun 10 15, 22:55</string>
      <string>glyphs.R_egular I_talic J_un 10 15, 22_55</string>
    </array>
    <array>
      <string>Regular Italic Jul 21 15, 20:57</string>
      <string>glyphs.R_egular I_talic J_ul 21 15, 20_57</string>
    </array>
    <array>
      <string>Regular Italic Jul 21 15, 20:57.background</string>
      <string>glyphs.R_egular I_talic J_ul 21 15, 20_57.background</string>
    </array>
    <array>
      <string>Regular Italic Jun 1 15, 23:39</string>
      <string>glyphs.R_egular I_talic J_un 1 15, 23_39</string>
    </array>
    <array>
      <string>Regular Italic Jun 1 15, 23:39.background</string>
      <string>glyphs.R_egular I_talic J_un 1 15, 23_39.background</string>
    </array>
    <array>
      <string>Regular Italic Jun 2 15, 00:49</string>
      <string>glyphs.R_egular I_talic J_un 2 15, 00_49</string>
    </array>
    <array>
      <string>Regular Italic Jun 2 15, 00:49.background</string>
      <string>glyphs.R_egular I_talic J_un 2 15, 00_49.background</string>
    </array>
    <array>
      <string>Regular Italic Jun 10 15, 17:39</string>
      <string>glyphs.R_egular I_talic J_un 10 15, 17_39</string>
    </array>
    <array>
      <string>Regular Italic Jun 10 15, 17:39.background</string>
      <string>glyphs.R_egular I_talic J_un 10 15, 17_39.background</string>
    </array>
    <array>
      <string>Regular Italic Aug 27 15, 12:06</string>
      <string>glyphs.R_egular I_talic A_ug 27 15, 12_06</string>
    </array>
    <array>
      <string>Regular Italic Aug 27 15, 12:06.background</string>
      <string>glyphs.R_egular I_talic A_ug 27 15, 12_06.background</string>
    </array>
    <array>
      <string>Regular Italic Jun 10 15, 13:27</string>
      <string>glyphs.R_egular I_talic J_un 10 15, 13_27</string>
    </array>
    <array>
      <string>Regular Italic Jun 1 15, 23:27</string>
      <string>glyphs.R_egular I_talic J_un 1 15, 23_27</string>
    </array>
    <array>
      <string>Regular Italic Jul 16 15, 11:20</string>
      <string>glyphs.R_egular I_talic J_ul 16 15, 11_20</string>
    </array>
    <array>
      <string>Regular Italic Jun 10 15, 12:37</string>
      <string>glyphs.R_egular I_talic J_un 10 15, 12_37</string>
    </array>
    <array>
      <string>Regular Italic Jun 10 15, 12:38</string>
      <string>glyphs.R_egular I_talic J_un 10 15, 12_38</string>
    </array>
    <array>
      <string>Regular Italic Jun 8 15, 16:47</string>
      <string>glyphs.R_egular I_talic J_un 8 15, 16_47</string>
    </array>
    <array>
      <string>Regular Italic Jun 10 15, 11:52</string>
      <string>glyphs.R_egular I_talic J_un 10 15, 11_52</string>
    </array>
    <array>
      <string>Regular Italic Jun 10 15, 11:52.background</string>
      <string>glyphs.R_egular I_talic J_un 10 15, 11_52.background</string>
    </array>
    <array>
      <string>Regular Italic Jul 16 15, 23:39</string>
      <string>glyphs.R_egular I_talic J_ul 16 15, 23_39</string>
    </array>
    <array>
      <string>Regular Italic Jun 11 15, 11:21</string>
      <string>glyphs.R_egular I_talic J_un 11 15, 11_21</string>
    </array>
  </array>
</plist>
