<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>710</integer>
    <key>capHeight</key>
    <integer>673</integer>
    <key>copyright</key>
    <string>Copyright 2007 The Ibarra Real Nova Project Authors (https://github.com/googlefonts/ibarrareal)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Ibarra Real</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>rJ0d7RHoLp</string>
        <key>x</key>
        <integer>142</integer>
        <key>y</key>
        <integer>456</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>OTl65Sv38S</string>
        <key>x</key>
        <integer>-866</integer>
        <key>y</key>
        <integer>350</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>b95imT2uSy</string>
        <key>x</key>
        <integer>392</integer>
        <key>y</key>
        <integer>-11</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>p2zJCKtDHl</string>
        <key>x</key>
        <integer>224</integer>
        <key>y</key>
        <integer>690</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>2QiibWHfxe</string>
        <key>x</key>
        <integer>66</integer>
        <key>y</key>
        <integer>-260</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>zIureqMz8a</string>
        <key>x</key>
        <integer>674</integer>
        <key>y</key>
        <integer>-52</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/03/18 01:44:41</string>
    <key>openTypeHheaAscender</key>
    <integer>950</integer>
    <key>openTypeHheaDescender</key>
    <integer>-300</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Jose Maria Ribagorda &amp; Octavio Pardo</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.ibarrareal.es</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Jose Maria Ribagorda</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.octaviopardo.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>950</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-300</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1100</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>400</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-11</integer>
      <integer>0</integer>
      <integer>442</integer>
      <integer>452</integer>
      <integer>673</integer>
      <integer>683</integer>
      <integer>710</integer>
      <integer>726</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-297</integer>
      <integer>-287</integer>
      <integer>-261</integer>
      <integer>-250</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>33</integer>
      <integer>25</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>117</integer>
      <integer>128</integer>
      <integer>140</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Bold</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>442</integer>
  </dict>
</plist>
