<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1B82B6D3-9D3A-4F71-9816-689B3AF746D8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
